@import '_variables';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/layout/_all.sass';
@import '~bulma/sass/grid/_all.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/elements/icon.sass';
@import '~bulma/sass/elements/table.sass';
@import '~bulma/sass/elements/tag.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/components/tabs.sass';
@import '~bulma/sass/components/card.sass';
@import '~bulma/sass/components/message.sass';
@import '~bulma/sass/form/_all.sass';

html,
body {
  background-color: #fafafa;
}

.width-100 {
  width: 100%;
}

.dnwCalendar {
  width: 5rem !important;
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
  z-index: 1;
  tr,
  td {
    padding: 0.2rem !important;
    text-align: center;
  }
}

.links {
  .link {
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}

footer {
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 hsla(0, 0%, 4%, 0.1);
  padding: 1.5rem 1rem;
}

.navbar.has-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.subscribe {
  padding-top: 1rem;
}

.is-current {
  background-color: #5c2d91;
  color: #fff;
  a {
    background-color: #5c2d91;
    color: #fff;
    text-decoration: none;
  }
}

.link-button {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.link:hover {
  color: #363636;
}

.dnw-captcha > div > div {
  float: left;
}

.is-clearfix {
  clear: both;
}

@media (max-width: $desktop) {
  .dnwCalendar {
    width: 100% !important;
    padding: 2rem;
  }
  .subscribe {
    clear: both;
    padding: 2rem;
  }
  .navbar-item {
    display: flex;
    line-height: 1.5;
    align-items: center;
  }
  .navbar {
    align-items: stretch;
    display: flex;
    .container {
      display: flex;
    }
    .column.tight {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.75rem;
    }
  }
}
